---
controller_roles:
{% for users_item in users_list.list %}
  - user: "{{ users_item['gitlab.com User'] | regex_replace('@','') }}"
    organizations:
      - "{{ users_item['gitlab.com User'] | regex_replace('@','') }}"
    role: admin
{% endfor %}
...
