[galaxy]
server_list = published,validated,community,rh-certified
ignore_certs = yes

[galaxy_server.published]
url = https://aap25gw.bcnconsulting.com/api/galaxy/content/published/
token=ad762c1e07ad167d4ac110c6392ea461f0ae0bea

[galaxy_server.validated]
url = https://aap25gw.bcnconsulting.com/api/galaxy/content/validated/
token=ad762c1e07ad167d4ac110c6392ea461f0ae0bea

[galaxy_server.community]
url = https://aap25gw.bcnconsulting.com/api/galaxy/content/community/
token=ad762c1e07ad167d4ac110c6392ea461f0ae0bea

[galaxy_server.rh-certified]
url = https://aap25gw.bcnconsulting.com/api/galaxy/content/rh-certified/
token=ad762c1e07ad167d4ac110c6392ea461f0ae0bea

